        body {
            margin: 0;
            max-width: 100vw;
            overflow-x: hidden;
        }
        /* .firstPage {
margin: 0;
} */
        
        .yellow {
            color: #FCD232;
        }
        
        .bg-yellow {
            background-color: #FCD232;
        }
        
        .gray {
            color: #353535;
        }
        
        .bg-red {
            background-color: #ff6961;
        }
        
        .navbar {
            /* color: #353535; 
/* background-color: #FCD232; */
            text-decoration: none;
            text-align: center;
            border-bottom: 1px solid rgb(184, 181, 181);
            /* height: 11vh; */
        }
        
        .logo {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: 65%;
            margin-top: -17%;
            padding-bottom: 15%;
        }
        
        .logo>img {
            width: 80px;
        }
        
        .nav li a {
            text-decoration: none;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            /* margin-top: 2%;

text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 1.3rem; */
        }
        
        .navbar-default .navbar-nav>li>a {
            color: #353535;
        }
        
        .nav li .btn-nav {
            color: white !important;
        }
        
        .nav li .btn-nav:hover {
            /* color: white!important; */
            background-color: #ff6961!important;
            text-decoration: none;
            font-family: Helvetica, Arial, sans-serif;
        }
        
        .redButton {
            color: white;
            border-radius: 6px;
            border: none;
            padding: 6%;
            font-weight: bold;
            /* margin-top: -6%; */
        }
        
        .btn-red {
            color: white !important;
            text-decoration: none;
            border-radius: 6px;
            border: none;
            padding: 6%;
            font-weight: bold;
        }
        
        .right-side {
            margin-left: 13%;
            margin-top: 1%;
            min-width: 80%;
        }
        
        .redButtonPosition1 {
            margin-top: -6%;
            font-weight: bold;
        }
        
        .hallBackground {
            background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/N444PJYUP9.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 10%;
            margin-top: 5%;
            /* background-size: 100vh; */
            text-align: center;
            opacity: 0.8;
            z-index: -2;
        }
        
        .headlines1,
        .headlines2 {
            color: white;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 700;
            font-size: 5rem;
        }
        
        .threeTiles {
            color: white;
            background-color: #353535;
        }
        
        .tile {
            padding-left: 2%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-left: 1px solid gray;
        }
        
        .threeTiles div.active {
            background-color: #ff6961;
            color: #353535;
        }
        /* .tileGlyphicon {
padding: 3% 3%;
} */
        
        .glyphicon-white {
            color: #ff6961;
            border-radius: 50%;
            padding: 7px;
            background-color: #353535;
            position: absolute;
            display: none;
            right: 20px;
            top: 20px;
        }
        
        .threeTiles div:hover {
            cursor: pointer;
        }
        
        .threeTiles div.active .glyphicon-white {
            display: block;
        }
        /* .glyphicon-white.active {
color: #ff6961;
background-color: #353535;
display: inline-block;
position: absolute;
} */
        
        .headlines2 {
            color: #353535;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
            padding: 1%;
        }
        
        .card {
            margin: 4% 0;
            background-color: white;
            border-radius: 1em;
            box-shadow: 0 1px 1px 1px #b3b1b1;
            position: relative;
        }
        
        .card:hover {
            /* transform: scale(1.05);
transition: all 0.1s linear; */
            bottom: 15px;
        }
        
        .cardText {
            padding: 5%;
        }
        
        .academyName {
            color: #353535;
            background-color: #FCD232;
        }
        
        .card-img-top {
            width: 100%;
            height: 25vh;
            border-radius: 1em 1em 0 0;
        }
        
        .footer {
            color: white;
            background-color: #353535;
            text-align: center;
            height: 5%;
        }
        
        .footer>div>h5 {
            font-weight: bold;
        }
        /* vraboti student */
        
        .formArea {
            height: 70vh;
            padding-top: 2%;
            padding-bottom: 5%;
        }
        
        .headline3 {
            padding-top: 7%;
            text-align: center;
            font-size: 4rem;
            font-weight: bold;
        }
        
        .inputBox {
            border-radius: 6px;
            box-shadow: none;
            width: 38vw;
            height: 10vh;
        }
        
        .sendButton {
            color: white;
            background-color: #ff6961;
            padding-top: 3%;
        }
        
        .sidebar ul i {
            display: none;
        }
        /* @media screen and (max-width: 768px) {
.inputBox {
width: 90vw;
}
} */
        /* tablet responsive */
        
        @media screen and (max-width: 768px) {
            .tile {
                border-bottom: 1px solid gray;
            }
            .inputBox {
                width: 90vw;
            }
            .right-side {
                margin-left: 9%;
                margin-top: 1%;
                min-width: 80%;
                display: flex;
            }
            .navbar-nav>li {
                float: left;
                display: flex;
                font-size: 7px;
            }
            .logo {
                display: block;
                max-width: 100%;
                height: auto;
                margin-left: 17%;
                margin-top: -17%;
                padding-bottom: 15%;
            }
            .headline3 {
                padding-top: 10%;
            }
            .card-container {
                width: 100vw;
            }
        }
        /* mobile responsive */
        
        @media screen and (max-width: 425px) {
            body {
                max-width: 100%;
            }
            .navbar-default .navbar-nav>li>a {
                color: white;
                margin-left: -20px;
                font-size: 1.5em;
            }
            .navbar-default .navbar-nav>li>.btn-nav>a {
                margin-left: -26px;
            }
            .navbar-default .navbar-nav>li>a {
                color: white;
                margin-left: -20px;
                font-size: 1.5em;
            }
            .logo {
                display: block;
                max-width: 99%;
                height: 80px;
                margin-left: -35%;
                margin-top: -4%;
            }
            .logo>img {
                width: 69px;
            }
            .headline3 {
                padding-top: 20%;
            }
            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                height: 100%;
                background-color: #302e38;
                display: flex;
                flex-direction: column;
                width: 0;
                overflow-x: hidden;
                transition: width 0.35s ease-in-out;
            }
            .navbar-toggle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40px;
                align-items: flex-end;
            }
            .sidebar ul {
                color: white!important;
                padding: 20px;
                font-size: 1.3em;
                text-decoration: none;
                transition: 0.5s;
                white-space: nowrap;
                display: flex;
                flex-direction: column
            }
            .sidebar ul i {
                position: absolute;
                right: 20px;
                top: 20px;
                display: block;
            }
            .white-text {
                color: white !important;
            }
            .card-container {
                width: 100vw;
            }
        }
        /* .navbar-toggle span {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #555555;
    margin: 3px;
} */
        /* .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
} */